#example { 
    width:  100px;
    height: 100px;
    margin: 150px auto;
    background-color: yellow;
}

button {
    background-color: blue;
    font-weight: 800;
    padding: 5px;
    width: 100px;
    margin: 35px auto;
    border: 1px solid black;
    color: white;
}

.highlighted {
    background-color: violet !important;
}